@media (min-width: $break-sm){
  section {
    max-width: $max-width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 8fr 4fr;
    grid-column-gap: 2rem;
  }
}

header,
section {
  padding: 1rem;
}
