@media (min-width: $break-sm){
  section {
    max-width: $max-width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 8fr 4fr;
    grid-column-gap: 2rem;
  }
}

section {
  padding: 1rem;
}

.secondary article {
  display: flex;
  flex-direction: column;
  figure {
      order: 2;
      @media(min-width: $break-med){
          order: 0;
      }
  }
}